{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<dl>
  <form action="{% url 'index' %}">
    <input type="submit" value="list">
  </form>
  <h1>Post</h1>
  <form action="{% url 'modify' post.id %}" method="post">
    {% csrf_token %}
    <dt>
      title
      <textarea name="post_title" rows="1" cols="120">{{post.post_title}}</textarea>
    </dt>
    <dt>
      text
      <textarea name="post_text" rows="8" cols="120">{{post.post_text}}</textarea>
    </dt>
    {% if request.session.id == post.post_author %}
      <input type="submit" value="modify">
    {% endif %}
  </form>
  {% if request.session.id == post.post_author %}
  <form action="{% url 'remove' post.id %}">
    <input type="submit" value="Delete">
  </form>
  {% endif %}
  <dl>
    <h3>Comments</h3>
    <table>
    {% for cmt in comment %}
    <tr>
      <td>{{cmt.comment_text}}</td>
      <td>{{cmt.comment_author}}</td>
      <td>[{{cmt.comment_date}}]</td>
    </tr>
    {% endfor %}
    </table>
    <dt>
      Write comment
      <form action="{% url 'comment' post.id %}" method="post">
        {% csrf_token %}
        <input class="comment" type="text" name="comment_text">
        <input type="submit" value="Write">
      </form>
    </dt>
  </dl>
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
</dl>
