{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1>Post</h1>
{% if post_list %}
  {% if not 'id' in request.session %}
  <form action="{% url 'home' %}">
    <input type="submit" value="로그인"></input>
  </form>
  {% else %}
  <form action="{% url 'logout' %}">
    <input type="submit" value="로그아웃"></input>
  </form>
  {% endif %}
  <form action="{% url 'new' %}">
    <input type="submit" value="New Post"></input>
  </form>
  <table>
    <tr>
      <th class="table_title">제목</th>
      <th>작성자</th>
      <th>시간</th>
    </tr>
    {% for post in post_list %}
      <tr href="{% url 'detail' post.id %}">
        <td name="table_title"><a href="{% url 'detail' post.id %}">{{ post.post_title }}</a></td>
        <td>{{ post.post_author }}</td>
        <td>{{ post.created_date|date:"Y-m-d h:i" }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
