table {
  width : 100%;
  max-width: 1000px;
  font-size: small;
}
td {
  text-align: center;
}
.table_title {
  width : 60%;
}
.comment {
  width : 70%;
}
textarea {
  width : 100%;
  max-width: 1000px;
}
